@media screen and (max-width:1330px) {
    .box img {
        height: 300px;
    }
}

@media screen and (max-width:1024px) {
    .box img {
        height: 250px;
    }
}

@media screen and (max-width:920px) {
    .box img {
        height: 220px;
    }
}

@media screen and (max-width:820px) {
    .nav ul {
        margin-left: 10vw;
    }

    .box img {
        height: 200px;
    }

    .info {
        margin: 0 4vw;
    }

    .sub-nav {
        font-size: .8rem;
    }
}

@media screen and (max-width:600px) {
    .boxes {
        grid-template-columns: auto;
    }

    .menu-button {
        display: block;
    }

    .nav ul,
    .main-menu {
        display: none;
    }

    .brand-logo {
        margin: 0 12vw;
    }

    .heading {
        margin-top: 35px;
        font-size: 2rem;
    }

    .card-heading {
        font-size: 1.4rem;
    }

    .sub-nav ul .li-option,
    .arrow {
        display: none;
    }

    .sub-nav {
        display: flex;
        justify-content: space-around;
        z-index: 1;
    }

    .sub-nav ul {
        display: none;
    }

    .sub-menu-button {
        display: block;
    }

    .info-box {
        flex-direction: column;
        justify-content: left;
    }

    .info-box h2 {
        margin-top: 40px;
    }

    #first-Line {
        width: 100%;
    }

    #info-hr1,
    #info-hr2,
    #info-hr3 {
        width: 100%;
    }

    .icon-box {
        height: 50px;
        width: 50px;
    }

    .sub-footer {
        font-size: .8rem;
        height: 250px;
    }

    .copyright {
        font-size: .6rem;
    }
}

@media screen and (max-width:380px) {
    .search-box,
    #searchBoxBtn img {
        right: 6vw;
    }
}

@media screen and (max-width:280px) {
    .icon img {
        width: 100px;
    }

    .search-box {
        height: 40px;
        width: 180px;
    }

    .search-box,
    #searchBoxBtn img {
        right: 7vw;
    }

    .brand-logo {
        margin: 0 6vw;
    }

    .box img {
        height: 150px;
    }

    .heading {
        font-size: 1.6rem;
    }

    .card-heading {
        font-size: 1rem;
    }

    .icon-box {
        height: 40px;
        width: 40px;
    }

    .icon-box img {
        height: 30px;
        width: 30px;
    }
}